.form {
  width: 80%;
  margin-top: 1rem;
  border: 1px solid black;
}

.form form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  outline: none;
}

form input[type="submit"] {
  position: absolute;
  right: 0;
  height: 100%;
  width: 6rem;
}
